@use "variables";

body {
    min-height: 100vh;
    background-color: variables.$color-bg;
}

.header {
    .logo {
        z-index: 20;
    }
}

.container {
    padding: 2rem;
    max-width: variables.$layout-max-width;
    margin-inline: auto;
}

.section {
    padding-block: 2rem;

    @media (min-width: variables.$breakpoint-md) {
        padding-block: 4rem;
    }

    @media (min-width: variables.$breakpoint-lg) {
        padding-block: 6rem;
    }
}
